extends layout

block content
   input(type="hidden", val="mme")#inputCurrentSystem
   .mmeList-container
     .col-sm-3.skt-panel.ng-mme-panel
       .col-sm-12.border-system-detail
         .sys-detail-ttl vMME
         span#curngmmecnt
         span.sys-txt-delimiter &nbsp/&nbsp
         span#totngmmecnt
         span.sys-txt-delimiter 식
         p.sys-txt-delimiter 
         span#curngmmeSub
         span.sys-txt-delimiter &nbsp/&nbsp
         span#totngmmeSub
         span.sys-txt-delimiter 만
         p.sys-txt-delimiter 
       
       
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-G.sys-detail-ttl         
            span#curSysSubContainerG
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerG 
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-G.sys-detail-ttl
            span#curSysSubContainerG
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerG 
     
     
     
     
     
     .col-sm-3.skt-panel.center-mme-panel
       .col-sm-12.border-system-detail
         .sys-detail-ttl 중부(대전, 광주) Pool
         span#curCentermmecnt
         span.sys-txt-delimiter &nbsp/&nbsp
         span#totCentermmecnt
         span.sys-txt-delimiter 식
         p.sys-txt-delimiter 
         span#curCentermmeSub
         span.sys-txt-delimiter &nbsp/&nbsp
         span#totCentermmeSub
         span.sys-txt-delimiter 만
         p.sys-txt-delimiter 
         
         
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-C.sys-detail-ttl         
            span#curSysSubContainerC
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerC 
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-C.sys-detail-ttl
            span#curSysSubContainerC
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerC 
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-C.sys-detail-ttl
            span#curSysSubContainerC
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerC
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-C.sys-detail-ttl
            span#curSysSubContainerC
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerC
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-C.sys-detail-ttl
            span#curSysSubContainerC
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerC
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-C.sys-detail-ttl
            span#curSysSubContainerC
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerC        
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-C.sys-detail-ttl         
            span#curSysSubContainerC
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerC 
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-C.sys-detail-ttl
            span#curSysSubContainerC
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerC
            
            
     .col-sm-3.skt-panel.east-mme-panel
       .col-sm-12.border-system-detail
         .sys-detail-ttl 동부(부산, 대구) pool
         span#curEastmmecnt
         span.sys-txt-delimiter &nbsp/&nbsp
         span#totEastmmecnt
         span.sys-txt-delimiter 식
         p.sys-txt-delimiter 
         span#curEastmmeSub
         span.sys-txt-delimiter &nbsp/&nbsp
         span#totEastmmeSub
         span.sys-txt-delimiter 만
         p.sys-txt-delimiter 
  
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-E.sys-detail-ttl         
            span#curSysSubContainerE
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerE 
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-E.sys-detail-ttl
            span#curSysSubContainerE
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerE 
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-E.sys-detail-ttl
            span#curSysSubContainerE
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerE 
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-E.sys-detail-ttl         
            span#curSysSubContainerE
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerE 
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-E.sys-detail-ttl
            span#curSysSubContainerE
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerE 
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-E.sys-detail-ttl
            span#curSysSubContainerE
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerE        
       .col-sm-6.sys-detail-container
         .sys-detail-box.align-middle
            #system-name-E.sys-detail-ttl         
            span#curSysSubContainerE
            span.sys-detail-delimiter &nbsp/&nbsp
            span#totSysSubContainerE 

   
   
   
   
   
   
   
   
   
   
   


          
       
block javascripts
  script(src="/js/flot/jquery.flot.time.js")
  script(src="/js/twinkle/jquery.twinkle-0.9.0.min.js")
  script(src="/js/skt/mme-list.js")

       
    