extends layout

block content
   input(type="hidden", val='#{system}')#inputCurrentSystem
   .sgw-container
     .col-sm-12.sgw-detail-panel
       .col-md-offset-4.col-md-2.sgw-detail-header
         .sgw-detail-ttl #{system}
         span#locationContainer
       .col-md-1.sgw-detail-header
         canvas.sgw-chart
         span#curSGWBpsContainer
         span.sgw-txt-delimiter &nbsp/&nbsp
         span#totSGWBpsContainer
         span.sgw-txt-delimiter Gbps
       .col-sm-offset-3.col-sm-1.sgw-rm
         img(src='/img/title/system_solution.png', alt='', width="80" height="80").a(onclick='location.href="/hss-rm"') 
         .sgw-txt-delimiter 극단적RM 
     
     .col-sm-12.sgw-detail-panel    
       .col-sm-5.skt-panel.sgw-detail-panel.stat-panel
         .col-sm-12
           img(src='/img/title/system_stat.png', alt='', width="40" height="40")
           span.sgw-detail-txt 통계            
       
       .col-sm-5.skt-panel.sgw-detail-panel.alarm-panel
         .col-sm-12
           img(src='/img/title/system_alarm.png', alt='', width="40" height="40")
           span.sgw-detail-txt 알람           

   
   
block javascripts
  script(src="/js/flot/jquery.flot.time.js")
  script(src="/js/twinkle/jquery.twinkle-0.9.0.min.js")
  script(src="/js/skt/sgw-detail.js")
  script(src="/js/charts/Chart.js")
  script(src="/js/utils.js")    
  